<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Songs</title>
</head>
<body>
<h1>Songs</h1>
<!--<ul>-->
<!--    <li th:each="song : ${songs}">-->
<!--        <span th:text="${song}"></span>-->
<!--    </li>-->
<!--</ul>-->

<h2>Add a song</h2>
<form action="/songs" method="post">
<input name="title" type="text" placeholder="Song Title">
<input name="length" type="number" placeholder="Length">
<input name="trackNumber" type="number" placeholder="Track Number">
<input type="submit">
</form>
</body>
</html>
